# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# and many files...
*.bak
*.old
*.lib
*.exe
*.pdb
*.exp
*.ncb
*.pdf
*.log
*.tlog
*.sdf
*.opensdf
*.suo
*.ilk
*.idb
*.user
*.ipch
*ipch*
*.lastbuildstate
*.unsuccessfulbuild
*.asm
*.dll
*.obj
*~
.cvsignore
.svn
.svnignore
*.dblite
*.manifest
*.orig
*.d
*gz
*.zip
*.rar
*.7z
*.html
*.ppm
*.j2c
*.j2k
*.gif
*.jpg
\#*
.hg*
*.lst
*.map
dmake
.cproject
.project
.settings
BACKUP
apps/main.cpp

